@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">@PageExtensions.GetServiceName()</h1>

    @if (!string.IsNullOrEmpty(Model.EmployerSupportSiteUrl))
    {
            <p class="govuk-body"><a id="tl-link-employer" class="govuk-link" href="@Model.EmployerSupportSiteUrl">Employer Support</a></p>
    }
    @if (!string.IsNullOrEmpty(Model.ProviderSupportSiteUrl))
    {
            <p class="govuk-body"><a id="tl-link-provider" class="govuk-link" href="@Model.ProviderSupportSiteUrl">Provider Support</a></p>
    }
    @if (!string.IsNullOrEmpty(Model.ProviderDataSiteUrl))
    {
            <p class="govuk-body"><a id="tl-link-provider-data" class="govuk-link" href="@Model.ProviderDataSiteUrl">Provider Data/EoI</a></p>
    }
    @if (!string.IsNullOrEmpty(Model.ResultsAndCertificationsSiteUrl))
    {
            <p class="govuk-body"><a id="tl-link-results" class="govuk-link" href="@Model.ResultsAndCertificationsSiteUrl">Results and Certifications Site</a></p>
    }

    </div>
</div>